/* General Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Container for Doctor Cards */
.doctor-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Doctor Card Styles */
.doctor-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.doctor-card:hover {
  transform: scale(1.05);
}

.doctor-card img {
  border-radius: 50%;
  width: 100px;
  height: 150px;
  object-fit: cover;
}

.doctor-card h3 {
  margin: 10px 0;
}

.doctor-card p {
  margin: 5px 0;
}

.doctor-card button {
  background-color: #28a745;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.doctor-card button:hover {
  background-color: #218838;
}
